Screen {
    align: center middle;
}

Vertical {
    align: center middle;
    width: 75%;
    height: 75%;
    border: wide white;
}

NavButtons {
    align: center middle;
    height: auto;
    width: 100%;
}

#title {
    content-align-horizontal: center;
}